//配置链接数据库参数
/*module.exports = {
    host : '47.117.79.0',//'localhost',
    port : 3306,//端口号
    database : 'sys',//数据库名
    user : 'perdsoul',//数据库用户名
    password : 'like940705'//数据库密码
};*/
module.exports = {
    host : 'localhost',
    port : 3306,//端口号
    database : 'sys',//数据库名
    user : 'root',//数据库用户名
    password : '123456'//数据库密码
};